extends layout

block content
    div.todos
        div#articles-ul
            if user
                div.child.addHome(data-id="/articles/add")
                    a.add-div(href='/articles/add')
                each article, i in articles
                    if user.id == article.author
                        if article.fave
                            case article.color
                                when "1"
                                    div.child.fave.red-body(data-id="/articles/" +article._id)
                                        div.inner(data-id="/articles/" +article._id)
                                            a= article.title
                                            p(data-id="/articles/" +article._id)!= article.body.replace(/\n/g, '<br />').substring(0, 400)
                                    
                                    div(data-id="/articles/" +article._id).bottom
                                        a.readmore(data-id="/articles/" +article._id) More...
                                
                                when "2" 
                                    div.child.fave.green-body(data-id="/articles/" +article._id)
                                        div.inner(data-id="/articles/" +article._id)
                                            a(data-id="/articles/" +article._id)= article.title
                                            p(data-id="/articles/" +article._id)!= article.body.replace(/\n/g, '<br />').substring(0, 400)
                                    
                                    div(data-id="/articles/" +article._id).bottom
                                        a.readmore(data-id="/articles/" +article._id) More...

                                when "3" 
                                    div.child.fave.blue-body(data-id="/articles/" +article._id)
                                        div.inner(data-id="/articles/" +article._id)
                                            a(data-id="/articles/" +article._id)= article.title
                                            p(data-id="/articles/" +article._id)!= article.body.replace(/\n/g, '<br />').substring(0, 400)
                                    
                                    div(data-id="/articles/" +article._id).bottom
                                        a.readmore(data-id="/articles/" +article._id) More...
                                
                                when "4" 
                                    div.child.fave.orange-body(data-id="/articles/" +article._id)
                                        div.inner(data-id="/articles/" +article._id)
                                            a(data-id="/articles/" +article._id)= article.title
                                            p(data-id="/articles/" +article._id)!= article.body.replace(/\n/g, '<br />').substring(0, 400)
                                    
                                    div(data-id="/articles/" +article._id).bottom
                                        a.readmore(data-id="/articles/" +article._id) More...

                                default
                                    div.child.fave(data-id="/articles/" +article._id)
                                        div.inner(data-id="/articles/" +article._id)
                                            a(data-id="/articles/" +article._id)= article.title
                                            p(data-id="/articles/" +article._id)!= article.body.replace(/\n/g, '<br />').substring(0, 400)
                                        
                                        div(data-id="/articles/" +article._id).bottom
                                            a.readmore(data-id="/articles/" +article._id) More...
                        else
                            case article.color
                                when "1"
                                    div.child.red-body(data-id="/articles/" +article._id)
                                        div.inner(data-id="/articles/" +article._id)
                                            a(data-id="/articles/" +article._id)= article.title
                                            p(data-id="/articles/" +article._id)!= article.body.replace(/\n/g, '<br />').substring(0, 400)
                                        
                                        div(data-id="/articles/" +article._id).bottom
                                            a.readmore(data-id="/articles/" +article._id) More...
                                
                                when "2" 
                                    div.child.green-body(data-id="/articles/" +article._id)
                                        div.inner(data-id="/articles/" +article._id)
                                            a(data-id="/articles/" +article._id)= article.title
                                            p(data-id="/articles/" +article._id)!= article.body.replace(/\n/g, '<br />').substring(0, 400)
                                    
                                        div(data-id="/articles/" +article._id).bottom
                                            a.readmore(data-id="/articles/" +article._id) More...

                                when "3" 
                                    div.child.blue-body(data-id="/articles/" +article._id)
                                        div.inner(data-id="/articles/" +article._id)
                                            a(data-id="/articles/" +article._id)= article.title
                                            p(data-id="/articles/" +article._id)!= article.body.replace(/\n/g, '<br />').substring(0, 400)
                                    
                                        div(data-id="/articles/" +article._id).bottom
                                            a.readmore(data-id="/articles/" +article._id) More...
                                
                                when "4" 
                                    div.child.orange-body(data-id="/articles/" +article._id)
                                        div.inner(data-id="/articles/" +article._id)
                                            a(data-id="/articles/" +article._id)= article.title
                                            p(data-id="/articles/" +article._id)!= article.body.replace(/\n/g, '<br />').substring(0, 400)
                                    
                                        div(data-id="/articles/" +article._id).bottom
                                            a.readmore(data-id="/articles/" +article._id) More...

                                default
                                    div.child(data-id="/articles/" +article._id)
                                        div.inner(data-id="/articles/" +article._id)
                                            a(data-id="/articles/" +article._id)= article.title
                                            p(data-id="/articles/" +article._id)!= article.body.replace(/\n/g, '<br />').substring(0, 400)
                                            
                                        div(data-id="/articles/" +article._id).bottom
                                            a.readmore(data-id="/articles/" +article._id) More...

            else
                .form
                    .row
                        .col-xs-12.col-sm-8.col-md-6.col-sm-offset-2.col-md-offset-3
                            h1 Login
                            hr.colorgraph
                            form(method='POST', action='/users/login')
                                .row
                                    .col-xs-12.col-sm-6.col-md-6
                                    .form-group
                                        input#display_name.form-control.input-lg(type='text', name='username', placeholder='Username', tabindex='1')
                                .row
                                    .col-xs-12.col-sm-6.col-md-6
                                    .form-group
                                        input#password.form-control.input-lg(type='password', name='password', placeholder='Password', tabindex='2')
                                hr.colorgraph
                                .row
                                    .col-xs-12.col-md-6
                                    input.btn.btn-blue.btn-block.btn-lg(type='submit', value='Login', tabindex='3')
                                    br
                                .row
                                    h4
                                        | Not registered? click 
                                        a(href='/users/register')  here
                    
        a.addbutton-hover(href='/articles/add/') +
            

                    